beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv
aiogram==3.0.0
gunicorn==21.2.0
phonenumbers==8.13.20
pytz==2023.3
cryptography=41.0.2
google-api-python-client==2.104.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
